* {
  margin: 0;
  padding: 0; }

body {
  width: 1920px;
  height: 2681px;
  padding: 37px 380px 0 380px;
  font-family: 'Ubuntu', sans-serif; }
  body main {
    width: 1920px;
    height: 1010px; }
    body main .logo {
      position: relative;
      width: 202px;
      height: 35px;
      padding-left: 45px;
      background-image: url(../bkgd/logo1.png);
      background-repeat: no-repeat; }
      body main .logo p {
        display: inline-block;
        left: 45px; }
      body main .logo #logo-item1 {
        position: absolute;
        top: -7px;
        font-size: 30px;
        font-weight: 500;
        color: #434343; }
      body main .logo #logo-item2 {
        position: absolute;
        top: 25px;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 4.6px;
        color: #8f8f8f; }

/*font-family: 'Ubuntu Condensed', sans-serif;*/
