$font-norm:		Ubuntu, sans-serif;
$font-cond: 	'Ubuntu Condensed', sans-serif;
$bg_color: 	#ffffff;

@mixin section-bg-image{
	background-repeat: no-repeat;
	background-position: 15% 9%;
}

* {
	margin: 0;
	padding: 0;
}
body{
	width: 1920px;
	height: 2681px;
	padding: 37px 380px 0 380px;
	font-family: $font-norm;
	background-color: #ffffff;

	main{
		width: 1920px;
		height: 1010px;

		.logo{
			position: relative;
			width: 202px;
			height: 35px;
			padding-left: 45px; 
			background-image: url(../bkgd/logo1.png);
			background-repeat: no-repeat;

			p{
				display: inline-block;
				left: 45px;
			}

			#logo-item1{
				position: absolute;
				top: -7px;
				font-size: 30px;
				font-weight: 500;
				color: #434343;
			}

			#logo-item2{
				position: absolute;
				top: 25px;
				font-family: $font-cond;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 4.6px;
				color: #8f8f8f;
			}
		}
	}


	.menu-top{
		width: 1160px;
		height: 55px;
		margin-top: 37px;
		background-color: #2a2d32;
		list-style-type: none;
			.menu-top__item{
				display: inline-block;
				border-right: 1px solid black;
				color: #ffffff;
					a {
						color: inherit;
						text-decoration: none;
						line-height: 55px;
						margin-left: 40px;
						margin-right: 40px; 
					}
			}
			.menu-top__item--blue{
				background-color: #248cec;
			}

			.menu-top__item--search{
				float: right;
				padding: 8px;
				border-right: none;
					input{
						height: 38px;
						width: 240px;
						background-color: #35383c;
						color: #ffffff;
						font-family: Arial;
						font-weight: 12px;
						text-indent: 12px;
						border: 1px solid black;
						background-image: url(../bkgd/search-logo.png);
						background-repeat: no-repeat;
						background-position: 95% 50%;

					}
			}
			.menu-top__item--search:after{
				content: "";
				clear: both;
			}
			.menu-top__item:hover{
				color: #cc9919;
				cursor: pointer;
			}
	}
	
	.gallery-wrapper{
		width: 1160px;
		height: 560px;
		margin-top: 40px;
	}
	
	.main-section{
		height: 200px;
		width: 1160px;
	

		.main-section__item{
			float: left;
			height: 180px;


				h2{
					color: #2a2b2e;
					font-size: 20px;
					margin-bottom: 20px;
				}
				p{
					color: #8a8a8a;
					font-family: Arial;
					font-size: 13px;
					line-height: 20px;
					margin-bottom: 20px;
				}
				a{
					color: #2a2b2e;
					font-size: 13px;
					text-decoration: none;
					display: block;
				}
				a:hover{
					color: #248cec;
						}
				}
				a:after{
					margin-top: 1px;
					display: inline-block;
					width: 10px;
					height: 10px;
					content: "";
					margin-left: 8px;
					background: url(../bkgd/arrow-logo.png);
					background-repeat: no-repeat;
					background-position: 120% 55%;
				}
		}

		.main-section__item--content-small-block{
			margin-right: -10px;
			font-size: 90px;
			font-weight: 500;
			color: #efeff0;

		}

		.main-section__item--content-block{
			width: 240px;
			padding: 65px 0 0 40px;
		}

	}
		.main-section__item--content-block--1{
			background: url(../bkgd/settings-logo.png);
			@include section-bg-image;
			}
		.main-section__item--content-block--2{
			background: url(../bkgd/params-logo.png);
			@include section-bg-image;
			}
		.main-section__item--content-block--3{
			background: url(../bkgd/truck-logo.png);
			@include section-bg-image;
			}

}





/*font-family: 'Ubuntu Condensed', sans-serif;*/